<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href='/'><img src="/assets/images/full-logo.png"
         alt="Turing School of Software and Design"
         class="turing-logo">
    </a>
  </section>
  <div class="sidebar-navigation--links" >
    <section class="sidebar-navigation--before">
      <h1 class="click-to-expand">Before Turing</h1>
      <ul class="list-view hidden">
        <li><a href="/prework">Prework</a></li>
        <li><a href="/prework/resources-to-save">Resource List</a></li>
        <li><a href="/prework/prework-month">Month Prework</a></li>
        <li><a href="/prework/prework-week">Week Prework</a></li>
        <li><a href="/prework/tools.html">Tools and Apps</a></li>
      </ul>
    </section>
    <section class="sidebar-navigation--during">
      <h1 class="click-to-expand">During Turing</h1>
      <ul class="list-view hidden">
        <li><a href="/module1">Module 1</a></li>
        <li><a href="/module2">Module 2</a></li>
        <li><a href="/module3">Module 3</a></li>
        <li><a href="/module4">Module 4</a></li>
        <li><a href="/today">Daily Outlines</a></li>
        <li><a href="/independent-study">Independent Study</a></li>
        <li><a href="/professional_development">Professional Development</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/14HDZkJ0UZNjPv_qH95Mhc4_0dQ0ObbQu-ZGpo_gLlOc/edit?usp=sharing">Wellness</a></li>
        <!-- Student pairing???? -->
        <!-- <li><a href="https://docs.google.com/spreadsheets/d/1QQmWfs3yZVrEfO-z0THEjZNxKMksvFije_p1SeZJzp8/edit">Pairing Signup</a></li> -->
        <li><a href="/mentor-info">Mentor Info</a></li>
      </ul>
      </section>
      <section class="sidebar-navigation--calendars">
        <h1 class="click-to-expand">Calendars</h1>
        <ul class="list-view hidden">
          <li><a href="https://www.google.com/calendar/embed?src=casimircreative.com_59k8msrrc2ddhcv787vubvp0s4%40group.calendar.google.com&ctz=America/Denver">Module 1 Calendar</a></li>
          <li><a href="https://www.google.com/calendar/embed?src=casimircreative.com_rps2hg1nfqjih4rcl3gl6s4lpk%40group.calendar.google.com&ctz=America/Denver">Module 2 Calendar</a></li>
          <li><a href="https://www.google.com/calendar/embed?src=casimircreative.com_e9k9b6n7bok174ilmqbfdr0sc4%40group.calendar.google.com&ctz=America/Denver">Module 3 Calendar</a></li>
          <li><a href="https://www.google.com/calendar/embed?src=casimircreative.com_r9jfiq9f37h6rdt2s8ssofss4k%40group.calendar.google.com&ctz=America/Denver">Module 4 Calendar</a></li>
          <li><a href="https://calendar.google.com/calendar/embed?src=casimircreative.com_ronr9dk92ndvlhsk03kf8jd2ro%40group.calendar.google.com&ctz=America/Denver">Community Calendar</a></li>
          <li><a href="https://drive.google.com/file/d/0B_Jhw-L8hpPrUjVRN0FoYlBrejQ/view?usp=sharing">2016 Course Calendar</a></li>
          <li><a href="https://drive.google.com/file/d/0B_Jhw-L8hpPrU1ctdC11eTNZRUE/view?usp=sharing">2017 Course Calendar</a></li>
        </ul>
      </section>
      <section class="sidebar-navigation--student-info">
        <h1 class="click-to-expand">Student Info</h1>
        <ul class="list-view hidden">
          <li><a href="https://docs.google.com/document/d/1mpYj9P8HAVDsxETDH-j6AYyvMSXRzen6WWLFiXN-6BQ/edit?usp=sharing">Student Handbook</a></li>
          <li><a href="https://docs.google.com/document/d/1cNw7ZvLzeqBvSsfNd4FuRIl8J0XjtIM98qBdHaw50Yw/edit?usp=sharing">SAB Notes (Current Module)</a></li>
          <li><a href="https://docs.google.com/document/d/1RVxdhYXRcJ3m3J5KKTVxspa7B0AIiXB5iK2EiBiEJpQ/edit?usp=sharing">SAB Notes (Previous Module)</a></li>
          <li><a href=""></a></li>
        </ul>
      </section>
      <section class="sidebar-navigation--posse-mentor">
        <h1 class="click-to-expand">Posse and Mentor Info</h1>
        <ul class="list-view hidden">
          <li><a href="https://docs.google.com/document/d/1Q35fM3coYjnms9rkVem3FHVk44kW6qHp_-t99PBbczI/edit?usp=sharing">Overview</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1NpEeyD0N4s3EfQOQxS20KfI4UKddd41ziyRfZ1lqMwg/edit?usp=sharing">Mentor List</a></li>
          <li><a href="https://gist.github.com/maryelizbeth/56a4a5573c14ad375e40">DTR for Mentors</a></li>
          <li><a href="https://docs.google.com/document/d/1_zyuAcGAiPhUDcKsDaZXCI2GHefNuQXGXKDHWKdjXcc/edit?usp=sharing">Possee Description</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1-P5dkhSIh_fFsAvhOA_Q3tf2tVZBPouPjPsrubJQIFI/edit?usp=sharing">Posse Manifest (Students - Mentors)</a></li>
        </ul>
      </section>
      <section class="sidebar-navigation--miscellaneous">
        <h1 class="click-to-expand">Miscellaneous Info</h1>
        <ul class="list-view hidden">
        <li><a href="https://www.turing.io/blog">Turing Blog</a></li>
        <li><a href="https://docs.google.com/document/d/1amGUFRmw9qjp9l6CiIkxygxQYT7gsTFn9JBFU4yQic0/edit?usp=sharing">Student Groups and Activities</a></li>
        <li><a href="https://docs.google.com/document/d/1OChnYx0ViErOKgNzE6C0hDD9tC9xX683f_dlM_4WYkA/edit?usp=sharing">Turing Guide to Using Slack</a></li>
        <li><a href="miscellaneous/contacts">Who can I talk to?</a></li>
      </ul>
      </section>
  </div>
</nav>
