<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href='/'><img src="/assets/images/full-logo.png"
         alt="Turing School of Software and Design"
         class="turing-logo">
    </a>
  </section>
  <div class="sidebar-navigation--links" >
    <section class="sidebar-navigation--before">
      <h1 class="click-to-expand">Before Turing</h1>
      <ul class="list-view hidden">
        <li><a href="/prework" target="_blank" onclick="trackOutboundLink('/prework'); return false;">Prework</a></li>
        <li><a href="/prework/resources-to-save" target="_blank" onclick="trackOutboundLink('/prework/resources-to-save'); return false;">Resource List</a></li>
        <li><a href="/prework/tools.html" target="_blank" onclick="trackOutboundLink('/prework/tools.html'); return false;">Tools and Apps</a></li>
      </ul>
    </section>
    <section class="sidebar-navigation--during">
      <h1 class="click-to-expand">During Turing</h1>
      <ul class="list-view hidden">
        <li><a href="/module1" target="_blank" onclick="trackOutboundLink('/module1'); return false;">Module 1</a></li>
        <li><a href="/module2" target="_blank" onclick="trackOutboundLink('/module2'); return false;">Module 2</a></li>
        <li><a href="/module3" target="_blank" onclick="trackOutboundLink('/module3'); return false;">Module 3</a></li>
        <li><a href="/module4" target="_blank" onclick="trackOutboundLink('/module4'); return false;">Module 4</a></li>
        <li><a href="/independent-study" target="_blank" onclick="trackOutboundLink('/independent-study'); return false;">Independent Study</a></li>
        <li><a href="/professional_development" target="_blank" onclick="trackOutboundLink('/professional_development'); return false;">Professional Development</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/14HDZkJ0UZNjPv_qH95Mhc4_0dQ0ObbQu-ZGpo_gLlOc/edit?usp=sharing" target="_blank" onclick="trackOutboundLink('https://docs.google.com/spreadsheets/d/14HDZkJ0UZNjPv_qH95Mhc4_0dQ0ObbQu-ZGpo_gLlOc/edit?usp=sharing'); return false;">Wellness</a></li>
        <!-- Student pairing???? -->
        <!-- <li><a href="https://docs.google.com/spreadsheets/d/1QQmWfs3yZVrEfO-z0THEjZNxKMksvFije_p1SeZJzp8/edit">Pairing Signup</a></li> -->
        <li><a href="/mentor-info" target="_blank" onclick="trackOutboundLink('/mentor-info'); return false;">Mentor Info</a></li>
      </ul>
      </section>
      <section class="sidebar-navigation--calendars">
        <h1 class="click-to-expand">Calendars</h1>
        <ul class="list-view hidden">
          <li><a href="https://calendar.google.com/calendar/embed?src=casimircreative.com_ronr9dk92ndvlhsk03kf8jd2ro%40group.calendar.google.com&ctz=America/Denver&mode=week" target="_blank" onclick="trackOutboundLink('https://calendar.google.com/calendar/embed?src=casimircreative.com_ronr9dk92ndvlhsk03kf8jd2ro%40group.calendar.google.com&ctz=America/Denver&mode=week'); return false;">Community Calendar</a></li>
          <li><a href="https://www.google.com/calendar/embed?src=casimircreative.com_59k8msrrc2ddhcv787vubvp0s4%40group.calendar.google.com&ctz=America/Denver&mode=week" target="_blank" onclick="trackOutboundLink('https://www.google.com/calendar/embed?src=casimircreative.com_59k8msrrc2ddhcv787vubvp0s4%40group.calendar.google.com&ctz=America/Denver&mode=week'); return false;">Module 1 Calendar</a></li>
          <li><a href="https://www.google.com/calendar/embed?src=casimircreative.com_rps2hg1nfqjih4rcl3gl6s4lpk%40group.calendar.google.com&ctz=America/Denver&mode=week" target="_blank" onclick="trackOutboundLink('https://www.google.com/calendar/embed?src=casimircreative.com_rps2hg1nfqjih4rcl3gl6s4lpk%40group.calendar.google.com&ctz=America/Denver&mode=week'); return false;">Module 2 Calendar</a></li>
          <li><a href="https://www.google.com/calendar/embed?src=casimircreative.com_e9k9b6n7bok174ilmqbfdr0sc4%40group.calendar.google.com&ctz=America/Denver&mode=week" target="_blank" onclick="trackOutboundLink('https://www.google.com/calendar/embed?src=casimircreative.com_e9k9b6n7bok174ilmqbfdr0sc4%40group.calendar.google.com&ctz=America/Denver&mode=week'); return false;">Module 3 Calendar</a></li>
          <li><a href="https://www.google.com/calendar/embed?src=casimircreative.com_r9jfiq9f37h6rdt2s8ssofss4k%40group.calendar.google.com&ctz=America/Denver&mode=week" target="_blank" onclick="trackOutboundLink('https://www.google.com/calendar/embed?src=casimircreative.com_r9jfiq9f37h6rdt2s8ssofss4k%40group.calendar.google.com&ctz=America/Denver&mode=week'); return false;">Module 4 Calendar</a></li>
          <li><a href="https://drive.google.com/file/d/0B_Jhw-L8hpPrWTA1LUVKR2oxdkE/view?usp=sharing" target="_blank" onclick="trackOutboundLink('https://drive.google.com/file/d/0B_Jhw-L8hpPrWTA1LUVKR2oxdkE/view?usp=sharing'); return false;">2017 Course Calendar</a></li>
        </ul>
      </section>
      <section class="sidebar-navigation--student-info">
        <h1 class="click-to-expand">Student Info</h1>
        <ul class="list-view hidden">
          <li><a href="https://docs.google.com/document/d/1mpYj9P8HAVDsxETDH-j6AYyvMSXRzen6WWLFiXN-6BQ/edit?usp=sharing" target="_blank" onclick="trackOutboundLink('https://docs.google.com/document/d/1mpYj9P8HAVDsxETDH-j6AYyvMSXRzen6WWLFiXN-6BQ/edit?usp=sharing'); return false;">Student Handbook</a></li>
          <li><a href="https://docs.google.com/document/d/1braKM-SW4RnWkiC32WMFR-Ln_FcCWfNYKyX72igmNk0/edit?usp=sharing" target="_blank" onclick="trackOutboundLink('https://docs.google.com/document/d/1braKM-SW4RnWkiC32WMFR-Ln_FcCWfNYKyX72igmNk0/edit?usp=sharing'); return false;">SAB Notes (Current Module)</a></li>
          <li><a href="https://docs.google.com/document/d/11GvJVYBugqD6DRBGPWwFMmiufGR6-Og0apcqwYVt61c/edit?usp=sharing" target="_blank" onclick="trackOutboundLink('https://docs.google.com/document/d/11GvJVYBugqD6DRBGPWwFMmiufGR6-Og0apcqwYVt61c/edit?usp=sharing'); return false;">SAB Notes (Previous Module)</a></li>
        </ul>
      </section>
      <section class="sidebar-navigation--posse-mentor">
        <h1 class="click-to-expand">Posse and Mentor Info</h1>
        <ul class="list-view hidden">
          <li><a href="https://docs.google.com/document/d/1Q35fM3coYjnms9rkVem3FHVk44kW6qHp_-t99PBbczI/edit?usp=sharing" target="_blank" onclick="trackOutboundLink('https://docs.google.com/document/d/1Q35fM3coYjnms9rkVem3FHVk44kW6qHp_-t99PBbczI/edit?usp=sharing'); return false;">Overview</a></li>
          <li><a href="https://docs.google.com/spreadsheets/d/1oxsATOSIdRZ78-Bj3GQY2LkIp0OV_sCN6GJVjtUuCl0/edit" target="_blank" onclick="trackOutboundLink('https://docs.google.com/spreadsheets/d/1oxsATOSIdRZ78-Bj3GQY2LkIp0OV_sCN6GJVjtUuCl0/edit'); return false;">Mentor List</a></li>
          <li><a href="https://docs.google.com/document/d/1Q35fM3coYjnms9rkVem3FHVk44kW6qHp_-t99PBbczI/edit" target="_blank" onclick="trackOutboundLink('https://docs.google.com/document/d/1Q35fM3coYjnms9rkVem3FHVk44kW6qHp_-t99PBbczI/edit'); return false;">Mentor FAQ</a></li>
          <li><a href="https://docs.google.com/document/d/1_zyuAcGAiPhUDcKsDaZXCI2GHefNuQXGXKDHWKdjXcc/edit?usp=sharing" target="_blank" onclick="trackOutboundLink('https://docs.google.com/document/d/1_zyuAcGAiPhUDcKsDaZXCI2GHefNuQXGXKDHWKdjXcc/edit?usp=sharing'); return false;">Possee Description</a></li>
          <li><a href="https://docs.google.com/document/d/1OKjq08T6Wrw9IZi_lAGCHvVbWFRItvI966SLstMXVew/edit" target="_blank" onclick="trackOutboundLink('https://docs.google.com/document/d/1OKjq08T6Wrw9IZi_lAGCHvVbWFRItvI966SLstMXVew/edit'); return false;">Posse List</a></li>
        </ul>
      </section>
      <section class="sidebar-navigation--miscellaneous">
        <h1 class="click-to-expand">Miscellaneous Info</h1>
        <ul class="list-view hidden">
        <li><a href="https://www.turing.io/blog" target="_blank" onclick="trackOutboundLink('https://www.turing.io/blog'); return false;">Turing Blog</a></li>
        <li><a href="https://docs.google.com/document/d/1amGUFRmw9qjp9l6CiIkxygxQYT7gsTFn9JBFU4yQic0/edit?usp=sharing" target="_blank" onclick="trackOutboundLink('https://docs.google.com/document/d/1amGUFRmw9qjp9l6CiIkxygxQYT7gsTFn9JBFU4yQic0/edit?usp=sharing'); return false;">Student Groups and Activities</a></li>
        <li><a href="https://docs.google.com/document/d/1mpYj9P8HAVDsxETDH-j6AYyvMSXRzen6WWLFiXN-6BQ/edit#bookmark=id.a56iv65bt0x3" target="_blank" onclick="trackOutboundLink('https://docs.google.com/document/d/1mpYj9P8HAVDsxETDH-j6AYyvMSXRzen6WWLFiXN-6BQ/edit#bookmark=id.a56iv65bt0x3'); return false;">Turing Guide to Using Slack</a></li>
        <li><a href="/miscellaneous/contacts" target="_blank" onclick="trackOutboundLink('/miscellaneous/contacts'); return false;">Who can I talk to?</a></li>
      </ul>
      </section>
  </div>
</nav>
