<nav class="sidebar-navigation">
  <section class="sidebar-navigation--logo">
    <a href='/'><img src="/assets/images/turing_logo_with_name.png"
                     alt="Turing School of Software and Design"
                     class="turing-logo">
    </a>
  </section>
  <div class="sidebar-navigation--links" >
    <section class="sidebar-navigation--before">
      <h1>Before Turing</h1>
      <ul>
        <li><a href="/before_turing">Resources</a></li>
      </ul>
    </section>
    <section class="sidebar-navigation--during">
      <h1>During Turing</h1>
      <ul>
        <li><a href="/module1">Module 1</a></li>
        <li><a href="/module2">Module 2</a></li>
        <li><a href="/module3">Module 3</a></li>
        <li><a href="/module4">Module 4</a></li>
        <li><a href="/professional_development">Professional Development</a></li>
      </ul>
    </section>
    <section class="sidebar-navigation--additional">
      <h1>Additional Resources</h1>
      <ul>
        <li><a href="https://docs.google.com/document/d/1mpYj9P8HAVDsxETDH-j6AYyvMSXRzen6WWLFiXN-6BQ/edit?usp=sharing">Student Handbook</a></li>
        <li><a href="/additional_resources/calendars">Calendars</a></li>
        <li><a href="/additional_resources/mentors">Mentors</a></li>
        <li><a href="/additional_resources/posses">Posses</a></li>
        <li><a href="/additional_resources/mental_health_resources">Mental Health Resources</a></li>
      </ul>
    </section>
  </div>
</nav>
