<h2>Week of November 28, 2016</h2>
  <h3>Week 1</h3>

<ul class="outlines">
  <a href="today/2016-11-28.html">
      <li class="outline">
        November 28, 2016
      </li>
    </a>
    <a href="today/2016-11-29.html">
      <li class="outline">
        November 29, 2016
      </li>
    </a>
    <a href="today/2016-11-30.html">
      <li class="outline">
        November 30, 2016
      </li>
    </a>
    <a href="today/2016-12-01.html">
      <li class="outline">
        December 1, 2016
      </li>
    </a>
    <a href="today/2016-12-02.html">
      <li class="outline">
        December 2, 2016
      </li>
    </a>
</ul>


<h2>Week of December 5, 2016</h2>
<h3>Week 2</h3>

<ul class="outlines">
  <a href="today/2016-12-05.html">
      <li class="outline">
        December 5, 2016
      </li>
    </a>
  <a href="today/2016-12-06.html">
    <li class="outline">
      December 6, 2016
    </li>
  </a>
  <a href="today/2016-12-07.html">
    <li class="outline">
      December 7, 2016
    </li>
  </a>
  <a href="today/2016-12-08.html">
    <li class="outline">
      December 8, 2016
    </li>
  </a>
  <a href="today/2016-12-09.html">
    <li class="outline">
      December 9, 2016
    </li>
  </a>
</ul>

<h2>Week of December 12, 2016</h2>
<h3>Week 3</h3>

<ul class="outlines">
  <a href="today/2016-12-12.html">
    <li class="outline">
      December 12, 2016
    </li>
  </a>
  <a href="today/2016-12-13.html">
    <li class="outline">
      December 13, 2016
    </li>
  </a>
  <a href="today/2016-12-14.html">
    <li class="outline">
      December 14, 2016
    </li>
  </a>
  <a href="today/2016-12-15.html">
    <li class="outline">
      December 15, 2016
    </li>
  </a>
  <a href="today/2016-12-16.html">
    <li class="outline">
      December 16, 2016
    </li>
  </a>
</ul>

<h2>Week of December 19, 2016</h2>
<h3>Week 4</h3>

<ul class="outlines">
  <a href="today/2016-12-19.html">
    <li class="outline">
      December 19, 2016
    </li>
  </a>
  <a href="today/2016-12-20.html">
    <li class="outline">
      December 20, 2016
    </li>
  </a>
  <a href="today/2016-12-21.html">
    <li class="outline">
      December 21, 2016
    </li>
  </a>
  <a href="today/2016-12-22.html">
    <li class="outline">
      December 22, 2016
    </li>
  </a>
  <a href="today/2016-12-23.html">
    <li class="outline">
      December 23, 2016 - Holiday - No School
    </li>
  </a>
</ul>

<h2>Week of January 02, 2017</h2>
<h3>Week 5</h3>

<ul class="outlines">
  <a href="today/2017-01-02.html">
    <li class="outline">
      January 02, 2017 - Holiday - No School
    </li>
  </a>
  <a href="today/2017-01-03.html">
    <li class="outline">
      January 03, 2017
    </li>
  </a>
  <a href="today/2017-01-04.html">
    <li class="outline">
      January 04, 2017
    </li>
  </a>
  <a href="today/2017-01-05.html">
    <li class="outline">
      January 05, 2017
    </li>
  </a>
  <a href="today/2017-01-06.html">
    <li class="outline">
      January 06, 2017
    </li>
  </a>
</ul>

<h2>Week of January 9, 2017</h2>
<h3>Week 6</h3>

<ul class="outlines">
  <a href="today/2017-01-09.html">
    <li class="outline">
      January 09, 2017
    </li>
  </a>
  <a href="today/2017-01-10.html">
    <li class="outline">
      January 10, 2017
    </li>
  </a>
  <a href="today/2017-01-11.html">
    <li class="outline">
      January 11, 2017
    </li>
  </a>
  <a href="today/2017-01-12.html">
    <li class="outline">
      January 12, 2017
    </li>
  </a>
  <a href="today/2017-01-13.html">
    <li class="outline">
      January 13, 2017
    </li>
  </a>
</ul>
