/* Content */

.content {
  padding: 2em;
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 1em;
    }
  }
}

ul.module-quick-links {
  font-weight: 100;
  display: flex;
}

table th, td, tr {
  border: 1px solid $light-gray;
  padding: 10px;
}

table {
  box-shadow: inset 0 0 1em $light-gray, 0 0 1em $medium-gray;
}

#module-list {
  align-content: center;
}

.title {
  text-align: center;
}
