<!DOCTYPE html>

<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="container">
      <section class="sidebar">
        {% include header.html %}
        {% include navigation.html %}
      </section>
      <section class="content">
        <article>
          <header id="main-header">
            <h1>
              Turing School of Software and Design
              <small>Back-End Engineering Program</small>
            </h1>
          </header>
          <section class="main-content">
            {{ content }}
          </section>

          <section id="module-list">
            <h3 class="title">Modules</h3>
            <ul class="outlines">
              <a href="/module1">
                  <li class="outline">
                    Module 1
                  </li>
                </a>
                <a href="/module2">
                  <li class="outline">
                    Module 2
                  </li>
                </a>
                <a href="/module3">
                  <li class="outline">
                    Module 3
                  </li>
                </a>
                <a href="/module4">
                  <li class="outline">
                    Module 4
                  </li>
                </a>
            </ul>
          </section>

          <section>
            {% include today.html %}
          </section>
        </article>
        {% include footer.html %}
      </section>
    </div>
    <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
  </body>
</html>
